<%- include("../includes/Header")%>
<section class="verAlign">
  <a href="/login" class="button my-4">Go back to login</a>
  <h1 class="my-3">Password reset link sent to your email</h1>
  <p>Check your inbox</p>
  <p class="my-3">or</p>
  <a class="button" href="https://mail.google.com/mail/u/1/#inbox" target="_blank"
    >Click to open gmail</a
  >
</section>
<%- include("../includes/Footer")%>
