<%- include("../includes/Header")%>
<section class="addPost">
  <a href="/login" class="btn">Go back to login</a>
  <h1>Password reset link sent to your email</h1>
  <p>Check your inbox</p>
  <p>or</p>
  <a class="btn" href="https://mail.google.com/mail/u/1/#inbox" target="_blank"
    >Click to open gmail</a
  >
</section>
<%- include("../includes/Footer")%>
