<%- include("../includes/Header")%>
<section class="verAlign w-full">
  <div class="verAlign">
    <h1 class="text-xl font-bold my-4">Login to your account</h1>
    <button class="button"><a href="/">Go Back Home</a></button>
  </div>
  <form class="w-[80%] verAlign" action="/login" method="post" class="form">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div class="formInput">
      <% if(error.length) {%>
      <div class="warning"><%= error %></div>
      <%}%>
    </div>
    <div class="formInput">
      <label for="email" class="label">Email</label>
      <input type="text" id="email" name="email" class="input"/>
    </div>
    <div class="formInput">
      <label for="password" class="label">Password</label>
      <input type="password" id="password" name="password" class="input"/>
    </div>
    <a href="/reset-password" class="mt-4 self-start ml-[10%] underline text-blue-600">Forget Password ?</a>
    <button class="button mt-4">Login</button>
  </form>
</section>
<%- include("../includes/Footer")%>
