<%- include("../includes/Header")%>
<section class="verAlign w-full">
  <div class="verAlign">
    <h1 class="text-xl font-bold my-4">Create a new account</h1>
    <button class="button"><a href="/">Go Back Home</a></button>
  </div>
  <form class="w-[80%] verAlign" action="/register" method="post" class="form">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div class="formInput">
      <% if(error.length) {%>
      <div class="warning bg-yellow-200 border-yellow-100 text-yellow-800"><%= error %></div>
      <%}%>
    </div>
    <div class="formInput">
      <label for="email" class="label">Email</label>
      <input type="text" id="email" name="email" class="input"/>
    </div>
    <div class="formInput">
      <label for="password" class="label">Password</label>
      <input type="password" id="password" name="password" class="input"/>
    </div>
    <button class="button my-4">Signup</button>
  </form>
</section>
<%- include("../includes/Footer")%>
