<%- include("../includes/Header")%>
<section class="addPost">
  <div class="titleContainer">
    <h1>Reset Password Here</h1>
    <button><a href="/login">Go Back to Login</a></button>
  </div>
  <form action="/reset" method="post" class="form">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div class="formInput">
      <% if(error.length) {%>
      <div class="errMsg"><%= error %></div>
      <%}%>
    </div>
    <div class="formInput">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" />
    </div>
    <button>Reset Password</button>
  </form>
</section>
<%- include("../includes/Footer")%>
