<%- include("./includes/Header")%>
<section class="verAlign">
  <div class="verAlign">
    <h1 class="text-2xl font-bold my-4 ">Add Post Here</h1>
    <button class="button mb-4"><a href="/">Go Back Home</a></button>
  </div>
  <form class="w-full verAlign" action="/admin" method="post">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div class="formInput">
      <label for="title" class="label">Title</label>
      <input type="text" id="title" name="title" required class="input"/>
    </div>
    <div class="formInput">
      <label for="photo" class="label">Photo</label>
      <input type="text" id="photo" name="photo" required class="input"/>
    </div>
    <div class="formInput">
      <label for="description" class="label">Description</label>
      <textarea
        name="description"
        id="description"
        rows="10"
        cols="10"
        class="input"
      ></textarea>
    </div>
    <button class="button my-4">ADD</button>
  </form>
</section>
<%- include("./includes/Footer")%>
