<%- include("./includes/Header")%>
<section class="homePageContainer">
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente odit a
    culpa, ad labore modi quibusdam quasi inventore libero minima, fugit
    repellat blanditiis animi maxime iure autem eum distinctio alias.
  </p>
  <% if(isLogin) {%>
  <div class="login">
    <button><a href="/admin/create-post">Add a new post</a></button>
    <form action="/logout" method="post">
      <button>Logout</button>
    </form>
  </div>
  <%} else { %>
  <button><a href="/login">Login to your account</a></button>
  <button><a href="/register">Create a new account</a></button>
  <%}%>
  <hr />
  <h1>Posts</h1>
  <% if(posts.length === 0) {%>
  <div>Nothing Here!! Click add Post button above to create a new Post</div>
  <%}%> <% for (let post of posts) {%>
  <div class="postContainer">
    <div>
      <div class="postTitle"><%=post.title%></div>
    </div>
    <a href="post/<%= post._id %>"><button>See More</button></a>
  </div>
  <%}%> <%- include("./includes/Footer")%>
</section>
