@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply shadow-md font-semibold bg-slate-800 text-white text-[15px]  sm:text-base px-2 py-2 md:px-3 md:py-2 rounded-md;
  }

  .button:hover {
    @apply text-blue-400 bg-white;
  }

  .navbar {
    @apply flex ml-auto justify-evenly items-center py-2 gap-5;
  }

  .formInput {
    @apply flex flex-col w-[80%] m-auto;
  }

  .label {
    @apply my-2;
  }

  .input {
    @apply p-2 rounded border-blue-400 border-2 shadow-sm indent-2;
  }

  .input:focus {
    outline: none;
  }

  .warning {
    @apply text-center  p-2 border-2 rounded-sm my-4 border-red-300 bg-red-100 text-red-600;
  }
}

@layer utilities {
  * {
    font-family: "Lato", sans-serif;
  }

  .verAlign {
    @apply flex flex-col items-center;
  }

  .fa-user,
  .fa-calendar {
    font-size: 1.2rem;
  }

  .fa-arrow-left-long {
    font-size: 2rem;
  }

  .fa-arrow-left-long:hover {
    color: #3980f4;
  }

  .fa-right-from-bracket,
  .fa-user-plus,
  .fa-right-to-bracket {
    font-size: 1.4rem;
  }

  .fa-id-card,
  .fa-square-plus {
    font-size: 1.5rem;
  }
}
