<%- include("../includes/Header")%>
<section class="verAlign h-full">
 <div class="flex justify-center items-center sm:m-16 m-24 sm:w-[400px] sm:h-[400px] w-[350px] h-[350px] bg-sky-600 bg-opacity-25 rounded-lg backdrop-blur">
    <div class="flex flex-col w-full h-full p-5 justify-between items-center">
        <h1 class="font-bold text-2xl">Buy IO Premium Right Now</h1>
        <div>
           <div class="flex gap-3 items-center mt-3">
             <i class="fa-solid fa-download"></i>
            <div class="text-xl">Ability to download Posts</div>
           </div>
           <div class="flex gap-3 items-center my-3">
            <i class="fa-solid fa-circle-xmark"></i>
             <div class="text-xl">No ads</div>
           </div>
           <div class="flex gap-3 items-center">
            <i class="fa-solid fa-copy"></i>
             <div class="text-xl">Create Many Posts as you want</div>
           </div>
           <div class="flex gap-3 items-center my-3">
            <i class="fa-solid fa-headset"></i>
             <div class="text-xl">24/7 Support</div>
           </div>
           <div class="flex gap-3 items-center mb-3"> 
            <i class="fa-solid fa-spell-check"></i>
             <div class="text-xl">Extra Proofreading for you</div>
           </div>
           
        </div>
        <button class="button w-full ">Buy Now</button>
    </div>
 </div>
</section>
<%- include("../includes/Footer")%>
