<%- include("../includes/Header")%>
<section class="verAlign h-full">
 <div class="flex justify-center items-center sm:m-16 m-24 sm:w-[400px] sm:h-[400px] w-[350px] h-[350px] bg-sky-600 bg-opacity-25 rounded-lg backdrop-blur">
    <div class="flex flex-col w-full h-full p-5 justify-between items-center">
        <h1 class="font-bold text-2xl">Buy IO Premium Right Now</h1>
        <div>
           <div class="flex gap-3 items-center mt-3">
             <i class="fa-solid fa-download"></i>
            <div class="text-xl">Ability to download Posts</div>
           </div>
           <div class="flex gap-3 items-center my-3">
            <i class="fa-solid fa-circle-xmark"></i>
             <div class="text-xl">No ads</div>
           </div>
           <div class="flex gap-3 items-center">
            <i class="fa-solid fa-bullseye"></i>
             <div class="text-xl">Animated Profile Badge</div>
           </div>
           <div class="flex gap-3 items-center my-3">
            <i class="fa-solid fa-headset"></i>
             <div class="text-xl">24/7 Support</div>
           </div>
           <div class="flex gap-3 items-center mb-3"> 
            <i class="fa-solid fa-spell-check"></i>
             <div class="text-xl">Extra Proofreading for you</div>
           </div>
           
        </div>
        <button class="button w-full ckBtn">Buy Now</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const stripe = Stripe('pk_test_51PlErw2N1koI3KTDuO7xdoo8rmBGo7EgNjGk2Z9zR9kFLkyjv4tu8Z3cKo15X1qPq4NTOa4mrWnKrkpj2Y98fPza007vcPowHO') 
          const ckBtn = document.querySelector(".ckBtn")

          ckBtn.addEventListener("click", () => {
            stripe.redirectToCheckout({
              sessionId : "<%=session_id%>"
            })
          })
        </script>
    </div>
 </div>
</section>
<%- include("../includes/Footer")%>
