<%- include("../includes/Header")%>
<section class="verAlign h-full">
    <h1 class="text-2xl font-bold my-2">Subscription Successful</h1>
    <a class="button" href="/admin/profile">Go back to profile</a>
</section>
<%- include("../includes/Footer")%>
