<%- include("../includes/Header")%>
<section class="verAlign h-full">
    <h1 class="text-2xl font-bold my-2">Subscription Successful</h1>
    <p class="text-xl">Subscription id : <%= subscription_id%></p>
</section>
<%- include("../includes/Footer")%>
