<%- include("../includes/Header")%>
<section class="verAlign w-full mt-[10%]">
    <h1 class="text-4xl font-bold mt-4"><%=message%></h1>
    <a href="/"><button class="button mt-5">Go back home</button></a>
</section>
<%- include("../includes/Footer")%>
